Repository Leikaab/apiconfig: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

.pre-commit-config.yaml:

default_language_version:
  python: python3.12

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
        name: Remove trailing whitespace
        stages: [pre-commit]

  - repo: local
    hooks:
      - id: autoflake
        name: autoflake
        stages: [pre-commit]
        language: system
        entry: poetry run autoflake --remove-all-unused-imports --in-place --recursive
        types: [python]

      - id: isort
        name: isort
        stages: [pre-commit]
        language: system
        entry: poetry run isort --profile black
        types: [python]
        exclude: \.pyi$

      - id: black-py
        name: black (python)
        stages: [pre-commit]
        language: system
        entry: poetry run black
        types: [python]

      - id: black-pyi
        name: black (pyi)
        stages: [pre-commit]
        language: system
        entry: poetry run black
        types: [pyi]

      - id: flake8
        name: flake8
        stages: [pre-commit]
        language: system
        entry: poetry run flake8
        types: [python]
        exclude: setup.py

      - id: mypy
        name: mypy
        stages: [pre-commit]
        language: system
        entry: poetry run mypy
        types_or: [python, pyi]
        require_serial: true
        always_run: true

      - id: pyright
        name: pyright (warn only)
        stages: [pre-commit]
        language: system
        entry: bash -c 'poetry run pyright; exit 0'
        types_or: [python, pyi]
        require_serial: true
        always_run: true
        verbose: true

      - id: pytest
        name: pytest (all tests)
        stages: [pre-commit]
        language: system
        entry: poetry run pytest tests/ -v --no-header --durations=5
        types: [python]
        files: ^(apiconfig/|tests/).*\.py$ # Trigger hook on changes in these files
        pass_filenames: false # Do not pass filenames directly to pytest
        verbose: true

      - id: pytest-cov
        name: pytest with coverage
        stages: [pre-push]
        language: system
        entry: poetry run pytest tests/unit/ --cov --cov-report=term-missing --cov-branch --no-header --durations=5
        types: [python]
        pass_filenames: false
        verbose: true

      - id: act-tests
        name: Run GitHub Actions tests locally with act
        stages: [pre-push]
        language: system
        entry: bash -c 'command -v act >/dev/null 2>&1 && act -j test || echo "act not installed, skipping local GitHub Actions test"'
        pass_filenames: false
        verbose: true
        always_run: true

      - id: tox
        name: tox
        stages: [pre-push]
        language: system
        entry: poetry run tox
        types: [python]
        pass_filenames: false
        verbose: true

docs: update Fiken helper README
  helpers_for_tests/fiken/README.md
Due: none

docs: add helpers_for_tests link
  README.md
Due: none

docs: add See Also section to integration README
  apiconfig/testing/integration/README.md
Due: none

docs: link parent module in test helpers
  helpers_for_tests/README.md
Due: none

docs(types): add architecture diagram
  apiconfig/types/README.md
Due: none

docs: add Testing section
  apiconfig/testing/README.md
Due: none

docs: update testing instructions
  helpers_for_tests/common/README.md
Due: none

docs: update testing instructions for mocks
  apiconfig/testing/unit/mocks/README.md
Due: none

docs(logging): reorder README sections
  apiconfig/utils/logging/README.md
Due: none

docs: add See Also section for providers
  apiconfig/config/providers/README.md
Due: none

docs: update test instructions for auth strategies
  apiconfig/auth/strategies/README.md
Due: none

docs: add See Also section with helpful links
  apiconfig/README.md
Due: none

docs: update provider docs with API and architecture
  apiconfig/config/providers/README.md
Due: none

docs: update token module readme
  apiconfig/auth/token/README.md
Due: none

docs: update auth strategies README
  apiconfig/auth/strategies/README.md
Due: none

docs: update types README with key components
  apiconfig/types/README.md
Due: none

docs: update testing readme
  apiconfig/testing/README.md
Due: none

docs: update utils readme
  apiconfig/utils/README.md
Due: none

docs: update config README table and architecture
  apiconfig/config/README.md
Due: none

docs: update exceptions guide
  apiconfig/exceptions/README.md
Due: none

docs: update auth readme with architecture
  apiconfig/auth/README.md
Due: none

docs: reorder root README sections
  README.md
Due: none

refactor(types): convert types.py to package structure for better organization
  apiconfig/types.py
  apiconfig/types/__init__.py
  apiconfig/types/auth.py
  apiconfig/types/config.py
  apiconfig/types/extensions.py
  apiconfig/types/http.py
  apiconfig/types/json.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

refactor(utils): remove redundant http.pyi stub file
  apiconfig/utils/http.pyi
Due: none

feat(pyrightconfig): add additional type checking reports for improved analysis
  pyrightconfig.json
Due: none

refactor(oneflow): rename config variable to settings
  helpers_for_tests/oneflow/oneflow_config.py
Due: autoflake, isort, black-py, flake8, pytest-cov, tox

test: remove redundant import
  tests/unit/config/test_manager.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

test: update auth base test to use api_types alias
  tests/unit/auth/test_auth_base.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

test: silence pyright shadowed import warnings
  tests/unit/utils/redaction/test_headers.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

test: silence pyright shadowed import warning
  tests/unit/utils/redaction/test_body.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

test: ignore pyright shadowed imports in logging filter tests
  tests/unit/utils/logging/test_filters.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

test: ignore pyright shadowed imports
  tests/unit/utils/url/test_building.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

test: silence pyright import warning
  tests/unit/testing/unit/test_unit_helpers.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

refactor: rename env variable
  tests/integration/test_apiconfig_jsonplaceholder.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

test: ignore pyright import shadowing
  tests/unit/utils/logging/formatters/test_redacting.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

test: avoid json import shadowing
  tests/component/test_phase2_cross_component_integration.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

refactor: rename tripletex config variable
  helpers_for_tests/tripletex/tripletex_config.py
Due: autoflake, isort, black-py, flake8, pytest-cov, tox

fix: alias dotenv load function
  helpers_for_tests/fiken/fiken_config.py
Due: autoflake, isort, black-py, flake8, pytest-cov, tox

style: collapse f-strings in BaseClient
  helpers_for_tests/common/base_client.py
Due: autoflake, isort, black-py, flake8, pytest-cov, tox

test: fix typed log record and os import
  tests/unit/utils/logging/formatters/test_detailed.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox
