Repository Leikaab/apiconfig: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

.pre-commit-config.yaml:

default_language_version:
  python: python3.12

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
        name: Remove trailing whitespace
        stages: [pre-commit]

  - repo: local
    hooks:
      - id: autoflake
        name: autoflake
        stages: [pre-commit]
        language: system
        entry: poetry run autoflake --remove-all-unused-imports --in-place --recursive
        types: [python]

      - id: isort
        name: isort
        stages: [pre-commit]
        language: system
        entry: poetry run isort --profile black
        types: [python]
        exclude: \.pyi$

      - id: black-py
        name: black (python)
        stages: [pre-commit]
        language: system
        entry: poetry run black
        types: [python]

      - id: black-pyi
        name: black (pyi)
        stages: [pre-commit]
        language: system
        entry: poetry run black
        types: [pyi]

      - id: flake8
        name: flake8
        stages: [pre-commit]
        language: system
        entry: poetry run flake8
        types: [python]
        exclude: setup.py

      - id: mypy
        name: mypy
        stages: [pre-commit]
        language: system
        entry: poetry run mypy
        types_or: [python, pyi]
        require_serial: true
        always_run: true

      - id: pyright
        name: pyright (warn only)
        stages: [pre-commit]
        language: system
        entry: bash -c 'poetry run pyright; exit 0'
        types_or: [python, pyi]
        require_serial: true
        always_run: true
        verbose: true

      - id: pytest
        name: pytest (all tests)
        stages: [pre-commit]
        language: system
        entry: poetry run pytest tests/ -v --no-header --durations=5
        types: [python]
        files: ^(apiconfig/|tests/).*\.py$ # Trigger hook on changes in these files
        pass_filenames: false # Do not pass filenames directly to pytest
        verbose: true

      - id: pytest-cov
        name: pytest with coverage
        stages: [pre-push]
        language: system
        entry: poetry run pytest tests/unit/ --cov --cov-report=term-missing --cov-branch --no-header --durations=5
        types: [python]
        pass_filenames: false
        verbose: true

      - id: act-tests
        name: Run GitHub Actions tests locally with act
        stages: [pre-push]
        language: system
        entry: bash -c 'command -v act >/dev/null 2>&1 && act -j test || echo "act not installed, skipping local GitHub Actions test"'
        pass_filenames: false
        verbose: true
        always_run: true

      - id: tox
        name: tox
        stages: [pre-push]
        language: system
        entry: poetry run tox
        types: [python]
        pass_filenames: false
        verbose: true

fix: add protocol for pytest_httpserver request
  typings/pytest_httpserver/__init__.pyi
Due: none

fix: autofix with isort
  typings/pytest_httpserver/__init__.pyi
Due: none

fix: clarify header dict construction in test server
  apiconfig/testing/integration/servers.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

test: add type hints for thread and result lists
  tests/component/test_enhanced_auth_mocks_refresh.py
  tests/component/test_phase2_cross_component_integration.py
  tests/component/test_phase2_error_scenarios.py
  tests/unit/testing/mocks/test_token_expiry_reliability.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

test: replace lambda with named function in formatter tests
  tests/unit/utils/logging/formatters/test_redacting.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

fix: improve Tripletex auth parsing
  helpers_for_tests/tripletex/tripletex_auth.py
Due: autoflake, isort, black-py, flake8, pytest-cov, tox

fix: clarify json parsing types in BaseClient
  helpers_for_tests/common/base_client.py
Due: autoflake, isort, black-py, flake8, pytest-cov, tox

test: annotate token expiry concurrency lists
  tests/unit/testing/mocks/test_token_expiry_reliability.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

test: guard access to token refresh result
  tests/component/test_end_to_end_refresh.py
  tests/component/test_enhanced_auth_mocks_refresh.py
  tests/component/test_existing_component_integration.py
  tests/component/test_phase2_cross_component_integration.py
  tests/component/test_refresh_performance.py
  tests/integration/test_tripletex_auth_refresh.py
  tests/unit/auth/strategies/test_custom.py
  tests/unit/auth/test_auth_base.py
  tests/unit/testing/mocks/test_enhanced_auth_mocks.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

test: fix typing for refresh override
  tests/unit/testing/mocks/test_enhanced_auth_mocks.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

test: silence pyright private access in tests
  apiconfig/testing/unit/mocks/auth.py
  tests/component/test_enhanced_auth_mocks_refresh.py
  tests/component/test_phase2_cross_component_integration.py
  tests/integration/test_tripletex_auth_refresh.py
  tests/unit/auth/strategies/test_bearer.py
  tests/unit/auth/strategies/test_custom.py
  tests/unit/auth/test_auth_base.py
  tests/unit/testing/mocks/test_enhanced_auth_mocks.py
  tests/unit/testing/unit/mocks/test_config.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

fix: shallow fix of type error
  apiconfig/testing/integration/servers.py
  typings/pytest_httpserver/__init__.pyi
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

feat: add basic pytest stubs
  typings/pytest/__init__.pyi
Due: none

docs: clarify pyright setup
  CONTRIBUTING.md
  README.md
Due: none

feat: expose refresh counters on MockBearerAuthWithRefresh
  apiconfig/testing/unit/mocks/auth.py
  tests/component/test_enhanced_auth_mocks_refresh.py
  tests/unit/testing/mocks/test_enhanced_auth_mocks.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

feat(token): expose storage property
  apiconfig/auth/token/storage.py
  tests/unit/auth/token/test_storage.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

fix: type hint return value for FileProvider.get
  apiconfig/config/providers/file.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

fix: refine EnvProvider get typing
  apiconfig/config/providers/env.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

feat(testing): add ServerLogEntry type alias
  apiconfig/testing/integration/servers.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

chore: extend pytest_httpserver typing
  typings/pytest_httpserver/__init__.pyi
Due: none

chore: add types-httpx dev dependency
  pyproject.toml
Due: none

fix: autofix with isort
  typings/pytest/__init__.pyi
Due: none

fix: type hint FileProvider.get return
  apiconfig/config/providers/file.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

fix: use typed pytest helpers
  tests/integration/test_tripletex_auth_refresh.py
  tests/unit/config/test_base.py
  tests/unit/config/test_manager.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

fix: cast Tripletex token to str
  helpers_for_tests/tripletex/tripletex_auth.py
Due: autoflake, isort, black-py, flake8, pytest-cov, tox

test: use typed helper for version
  tests/unit/test_version.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

test: cast request object to protocol
  tests/unit/test_exception_protocols.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

test: type annotate list declarations
  apiconfig/testing/unit/mocks/auth.py
  tests/component/test_refresh_error_handling.py
  tests/integration/test_tripletex_auth_refresh.py
  tests/unit/testing/mocks/test_enhanced_auth_mocks.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

feat: expose config providers
  apiconfig/config/manager.py
  tests/unit/testing/integration/test_helpers.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

test: silence pyright private usage
  tests/unit/helpers/common/test_base_client.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

test: update enhanced auth mocks typing
  tests/unit/testing/mocks/test_enhanced_auth_mocks.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

test: silence unused variable warnings
  tests/unit/testing/integration/test_servers.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

test: ensure token storage retrieval is not None
  tests/unit/auth/token/test_storage.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

test: fix pyright unused variable warnings
  tests/unit/auth/token/test_refresh.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

feat: expose file path property
  apiconfig/config/providers/file.py
  tests/unit/config/providers/test_file.py
  tests/unit/testing/integration/test_fixtures.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox
