Repository Leikaab/apiconfig: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

.pre-commit-config.yaml:

default_language_version:
  python: python3.12

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
        name: Remove trailing whitespace
        stages: [pre-commit]

  - repo: local
    hooks:
      - id: autoflake
        name: autoflake
        stages: [pre-commit]
        language: system
        entry: poetry run autoflake --remove-all-unused-imports --in-place --recursive
        types: [python]

      - id: isort
        name: isort
        stages: [pre-commit]
        language: system
        entry: poetry run isort --profile black
        types: [python]
        exclude: \.pyi$

      - id: black-py
        name: black (python)
        stages: [pre-commit]
        language: system
        entry: poetry run black
        types: [python]

      - id: black-pyi
        name: black (pyi)
        stages: [pre-commit]
        language: system
        entry: poetry run black
        types: [pyi]

      - id: flake8
        name: flake8
        stages: [pre-commit]
        language: system
        entry: poetry run flake8
        types: [python]
        exclude: setup.py

      - id: mypy
        name: mypy
        stages: [pre-commit]
        language: system
        entry: poetry run mypy
        types_or: [python, pyi]
        require_serial: true
        always_run: true

      - id: pyright
        name: pyright (warn only)
        stages: [pre-commit]
        language: system
        entry: bash -c 'poetry run pyright; exit 0'
        types_or: [python, pyi]
        require_serial: true
        always_run: true
        verbose: true

      - id: pytest
        name: pytest (all tests)
        stages: [pre-commit]
        language: system
        entry: poetry run pytest tests/ -v --no-header --durations=5
        types: [python]
        files: ^(apiconfig/|tests/).*\.py$ # Trigger hook on changes in these files
        pass_filenames: false # Do not pass filenames directly to pytest
        verbose: true

      - id: pytest-cov
        name: pytest with coverage
        stages: [pre-push]
        language: system
        entry: poetry run pytest tests/unit/ --cov --cov-report=term-missing --cov-branch --no-header --durations=5
        types: [python]
        pass_filenames: false
        verbose: true

      - id: act-tests
        name: Run GitHub Actions tests locally with act
        stages: [pre-push]
        language: system
        entry: bash -c 'command -v act >/dev/null 2>&1 && act -j test || echo "act not installed, skipping local GitHub Actions test"'
        pass_filenames: false
        verbose: true
        always_run: true

      - id: tox
        name: tox
        stages: [pre-push]
        language: system
        entry: poetry run tox
        types: [python]
        pass_filenames: false
        verbose: true

Fix pyright ignore location in assertion tests
  tests/unit/testing/unit/test_assertions.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

Refactor invalid client config tests
  tests/unit/testing/unit/test_factories.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

refactor: conditional httpx imports for tests
  helpers_for_tests/common/base_client.py
Due: autoflake, isort, black-py, flake8, pytest-cov, tox

fix: improve redaction list handling and typing
  apiconfig/utils/redaction/body.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

refactor: simplify auth strategy base test
  apiconfig/testing/unit/helpers.py
  tests/unit/testing/unit/test_unit_helpers.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

Refactor factory typing
  apiconfig/testing/unit/factories.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

refine types for factory values
  apiconfig/testing/unit/factories.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

fix: add urllib.error import
  helpers_for_tests/tripletex/tripletex_auth.py
Due: autoflake, isort, black-py, flake8, pytest-cov, tox

Cast expect_request to RequestHandler
  apiconfig/testing/integration/servers.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

refactor(test): simplify timeout and retries casts
  apiconfig/testing/unit/factories.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

refactor: simplify mock client config creation
  apiconfig/testing/unit/mocks/config.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

fix: type result variables
  apiconfig/utils/redaction/body.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

export redaction header helpers
  apiconfig/utils/redaction/headers.py
  tests/unit/utils/redaction/test_headers.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

refactor: update MockConfigManager load_config
  apiconfig/testing/unit/README.md
  apiconfig/testing/unit/mocks/README.md
  apiconfig/testing/unit/mocks/config.py
  tests/unit/testing/unit/mocks/test_config.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

test: cast request before attribute access
  tests/unit/test_exception_protocols.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

test: replace lambda monkeypatch with helpers
  tests/unit/utils/logging/formatters/test_redacting.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

Set default hostname and retry settings
  apiconfig/config/base.py
  tests/unit/config/test_base.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

test: silence pyright private import warning
  tests/unit/auth/token/test_refresh_helpers.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

fix: update timeout defaults and tests
  apiconfig/config/base.py
  apiconfig/testing/unit/factories.py
  tests/unit/config/test_base.py
  tests/unit/testing/unit/test_factories.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

Refactor body redaction helper functions
  apiconfig/utils/redaction/body.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

docs: update examples for new default values
  docs/source/examples.rst
  docs/source/getting_started.rst
  docs/source/index.rst
  docs/source/user_guide.rst
Due: none

Fix redundant cast in redact_recursive
  apiconfig/utils/redaction/body.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

docs: correct timeout and retries example
  docs/source/user_guide.rst
Due: none

chore: add stubs for pytest_httpserver and werkzeug
  apiconfig/testing/integration/servers.py
  poetry.lock
  pyproject.toml
  typings/pytest_httpserver/__init__.pyi
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

fix: annotate config provider test classvars
  apiconfig/testing/unit/helpers.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

docs: type hint exclude_patterns
  docs/source/conf.py
Due: autoflake, isort, black-py, flake8, pytest-cov, tox

test: use public logging helpers
  apiconfig/utils/logging/formatters/__init__.py
  apiconfig/utils/logging/formatters/redacting.py
  tests/unit/utils/logging/formatters/test_redacting.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

test: use safe access for token data
  tests/component/test_end_to_end_refresh.py
  tests/component/test_existing_component_integration.py
  tests/component/test_phase2_cross_component_integration.py
  tests/component/test_refresh_performance.py
  tests/unit/testing/mocks/test_enhanced_auth_mocks.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

Add typing for token retrieval
  helpers_for_tests/tripletex/tripletex_auth.py
Due: autoflake, isort, black-py, flake8, pytest-cov, tox

chore(tests): annotate headers mapping
  helpers_for_tests/oneflow/oneflow_config.py
Due: autoflake, isort, black-py, flake8, pytest-cov, tox

chore: annotate base client request result
  helpers_for_tests/common/base_client.py
Due: autoflake, isort, black-py, flake8, pytest-cov, tox

test: annotate mock auth
  apiconfig/testing/unit/mocks/auth.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

Add stub for pytest_httpserver HTTPServer
  apiconfig/testing/integration/servers.py
  pyrightconfig.json
  typings/pytest_httpserver/__init__.pyi
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

docs: add AGENTS guidelines
  AGENTS.md
  docs/source/conf.py
Due: autoflake, isort, black-py, flake8, pytest-cov, tox

fix: update pytest_httpserver stubs
  typings/pytest_httpserver/__init__.pyi
Due: none

Clean up type ignores for mocks
  apiconfig/exceptions/http.py
  apiconfig/testing/integration/helpers.py
  apiconfig/testing/unit/mocks/auth.py
  tests/component/test_phase2_cross_component_integration.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

Fix isort on pytest_httpserver stub
  typings/pytest_httpserver/__init__.pyi
Due: none

Extend HTTPServer stub
  apiconfig/testing/integration/servers.py
  typings/pytest_httpserver/__init__.pyi
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox

Fix merge conflict in pytest_httpserver stub
  typings/pytest_httpserver/__init__.pyi
Due: none

feat: add environment variable handling and secret management for codex in conftest.py
  tests/conftest.py
Due: autoflake, isort, black-py, flake8, pytest, pytest-cov, tox
