Repository Leikaab/apiconfig: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, flake8, pytest, pytest-cov

autoflake:
  name: autoflake
  stages:
  - pre-commit
  language: system
  entry: poetry run autoflake --remove-all-unused-imports --in-place --recursive

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: poetry run isort --profile black {files}

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: poetry run flake8

pytest:
  name: pytest (all tests)
  stages:
  - pre-commit
  language: system
  entry: poetry run pytest tests/ -v --no-header --durations=5
  pass_filenames: false
  verbose: true

pytest-cov:
  name: pytest with coverage
  stages:
  - pre-push
  language: system
  entry: poetry run pytest tests/unit/ --cov --cov-report=term-missing --cov-branch --no-header --durations=5
  pass_filenames: false
  verbose: true

fix: remove duplicate build-backend entry in pyproject.toml
  pyproject.toml
Due: none

removed issues docs, which mirrored external issues on gh
  issues/api-key-auth-docstring-drift-49.md
  issues/auth-base-docstring-drift-50.md
  issues/auth-exceptions-init-all-annotation-51.md
  issues/auth-init-all-annotation-52.md
  issues/auth-strategies-accepts-empty-or-ambiguous-credentials-53.md
  issues/basic-auth-docstring-drift-54.md
  issues/bearer-auth-docstring-drift-55.md
  issues/client-config-docstring-drift-56.md
  issues/client-config-version-and-timeout-validation-57.md
  issues/config-exceptions-all-drift-58.md
  issues/config-init-all-annotation-59.md
  issues/config-manager-docstring-drift-60.md
  issues/config-providers-silent-type-coercion-fallback-61.md
  issues/custom-auth-docstring-drift-62.md
  issues/env-provider-docstring-drift-63.md
  issues/exceptions-init-all-annotation-64.md
  issues/file-provider-docstring-drift-65.md
  issues/http-safe-json-decode-no-size-guard-66.md
  issues/integration-helpers-docstring-drift-67.md
  issues/integration-servers-docstring-drift-68.md
  issues/logging-redacting-formatter-implementation-78.md
  issues/logging-redaction-misses-multivalue-headers-69.md
  issues/pyi-init-parity-70.md
  issues/refresh-oauth2-token-docstring-drift-71.md
  issues/testing-init-all-annotation-72.md
  issues/testing-integration-init-all-annotation-73.md
  issues/token-refresh-no-timeout-or-json-error-handling-74.md
  issues/token-storage-docstring-drift-75.md
  issues/types-docstring-drift-76.md
  issues/url-building-double-slash-collapses-legitimate-paths-77.md
Due: none

fix: make all path handling and tests cross-platform (Windows, macOS, Linux)
  apiconfig/config/providers/file.py
  tests/unit/utils/logging/formatters/test_detailed.py
Due: autoflake, isort, flake8, pytest, pytest-cov

fix: normalize file paths in tests for cross-platform compatibility
  tests/unit/config/providers/test_file.py
Due: autoflake, isort, flake8, pytest, pytest-cov

fix: improve error message specificity and cross-platform path handling in config file provider
  apiconfig/config/providers/file.py
  tests/unit/config/providers/test_file.py
Due: autoflake, isort, flake8, pytest, pytest-cov

fix: finalize error handling and cross-platform path formatting in config file provider
  apiconfig/config/providers/file.py
Due: autoflake, isort, flake8, pytest, pytest-cov

fix: add skip markers for Windows compatibility issues in FileProvider tests
  tests/unit/config/providers/test_file.py
Due: autoflake, isort, flake8, pytest, pytest-cov

docs(docstrings): Update and fix docstrings, run isort
  .flake8
  apiconfig/auth/base.py
  apiconfig/auth/strategies/api_key.py
  apiconfig/auth/strategies/basic.py
  apiconfig/auth/strategies/bearer.py
  apiconfig/auth/strategies/custom.py
  apiconfig/auth/token/refresh.py
  apiconfig/auth/token/storage.py
  apiconfig/config/base.py
  apiconfig/config/manager.py
  apiconfig/config/providers/env.py
  apiconfig/config/providers/file.py
  apiconfig/config/providers/memory.py
  apiconfig/testing/integration/fixtures.py
  apiconfig/testing/integration/helpers.py
  apiconfig/testing/integration/servers.py
  apiconfig/testing/unit/factories.py
  apiconfig/testing/unit/helpers.py
  apiconfig/testing/unit/mocks/auth.py
  apiconfig/testing/unit/mocks/config.py
  apiconfig/utils/http.py
  apiconfig/utils/logging/filters.py
  apiconfig/utils/logging/formatters/__init__.py
  apiconfig/utils/logging/formatters/detailed.py
  apiconfig/utils/logging/formatters/redacting.py
  apiconfig/utils/logging/handlers.py
  apiconfig/utils/logging/setup.py
  apiconfig/utils/redaction/__init__.py
  apiconfig/utils/redaction/body.py
  apiconfig/utils/redaction/headers.py
  apiconfig/utils/url/building.py
  apiconfig/utils/url/parsing.py
  tests/unit/utils/test_http.py
Due: autoflake, isort, flake8, pytest, pytest-cov

fix: adding future import to support python 3.10
  apiconfig/utils/logging/formatters/redacting.py
  apiconfig/utils/logging/handlers.py
  apiconfig/utils/url/building.py
Due: autoflake, isort, flake8, pytest, pytest-cov

fix: adding future import to support python 3.10 for tests also
  tests/integration/test_logging_redacting_formatter.py
  tests/unit/utils/logging/formatters/test_redacting.py
  tests/unit/utils/logging/test_handlers.py
  tests/unit/utils/logging/test_setup.py
  tests/unit/utils/url/test_building.py
  tests/unit/utils/url/test_parsing.py
Due: autoflake, isort, flake8, pytest, pytest-cov

fix: added relative type to deal with 3.10 issue
  apiconfig/utils/logging/handlers.py
Due: autoflake, isort, flake8, pytest, pytest-cov

fix: autofix with isort
  apiconfig/utils/logging/handlers.py
Due: autoflake, isort, flake8, pytest, pytest-cov

feat: Add tox for multi-version testing (#84)
  poetry.lock
  pyproject.toml
  tox.ini
Due: none

feat: Update Dockerfile and environment setup for Python 3.13 support, added tox to hooks, fixed tox dep issue with poetry. Added script to dynamically load vars from .env.
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
  .devcontainer/postCreateCommand.sh
  .pre-commit-config.yaml
  pyproject.toml
  tox.ini
Due: none

feat: Make privatesetup.sh executable and run it during environment setup; update .gitignore to exclude privatesetup.sh
  .devcontainer/postCreateCommand.sh
  .gitignore
Due: none

feat: Setup Tox for multi-environment testing (#85)
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
  .devcontainer/postCreateCommand.sh
  .gitignore
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  tox.ini
Due: none

feat: Add private setup script for user-specific dev container configuration
  .devcontainer/privatesetup.sh
Due: none

test: Increase unit test coverage for testing utilities
  apiconfig/testing/unit/helpers.py
  apiconfig/testing/unit/mocks/config.py
  tests/unit/testing/unit/mocks/test_config.py
  tests/unit/testing/unit/test_assertions.py
  tests/unit/testing/unit/test_factories.py
  tests/unit/testing/unit/test_unit_helpers.py
Due: autoflake, isort, flake8, pytest, pytest-cov

Add GNU GPL and LGPL licenses, update README and LICENSE files
  COPYING
  COPYING.LESSER
  LICENSE
  README.md
Due: none

Update Python version requirements and add documentation dependencies
  .devcontainer/docker-compose.yml
  .devcontainer/privatesetup.sh
  .flake8
  .github/workflows/docs.yaml
  .github/workflows/tests.yaml
  .gitignore
  apiconfig/utils/logging/handlers.py
  docs/Dockerfile
  docs/Makefile
  docs/make.bat
  docs/source/api/auth.rst
  docs/source/api/config.rst
  docs/source/api/exceptions.rst
  docs/source/api/index.rst
  docs/source/api/testing.rst
  docs/source/api/types.rst
  docs/source/api/utils.rst
  docs/source/conf.py
  docs/source/index.rst
  poetry.lock
  pyproject.toml
  tox.ini
Due: autoflake, isort, flake8, pytest, pytest-cov

Enhance documentation and examples for apiconfig
  .devcontainer/Dockerfile
  CONTRIBUTING.md
  README.md
  docs/source/_static/css/custom.css
  docs/source/conf.py
  docs/source/contributing.rst
  docs/source/examples.rst
  docs/source/getting_started.rst
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/user_guide.rst
  mypy.ini
Due: autoflake, isort, flake8, pytest-cov

chore: Add GitHub Actions workflow for building and deploying Sphinx documentation, update version to 0.3.0 in relevant files
  .github/workflows/docs.yml
  apiconfig/__init__.py
  docs/source/conf.py
  pyproject.toml
Due: autoflake, isort, flake8, pytest, pytest-cov

fix: autofix with isort
  .flake8
  apiconfig/__init__.py
  apiconfig/auth/token/refresh.py
  apiconfig/exceptions/__init__.py
  apiconfig/testing/unit/__init__.py
  apiconfig/utils/http.py
  apiconfig/utils/logging/formatters/__init__.py
  apiconfig/utils/logging/formatters/redacting.py
  apiconfig/utils/redaction/__init__.py
  docs/source/conf.py
  mypy.ini
  pyproject.toml
  tests/unit/auth/token/test_refresh.py
  tests/unit/testing/integration/test_helpers.py
  tests/unit/testing/integration/test_servers.py
  tests/unit/testing/unit/mocks/test_auth.py
  tests/unit/utils/logging/test_filters.py
  tests/unit/utils/redaction/test_body.py
Due: autoflake, isort, flake8, pytest, pytest-cov

fix: update workflow file extensions from .yml to .yaml in README and index.rst
  README.md
  docs/source/index.rst
Due: none

feat: update documentation links and version in configuration files
  README.md
  docs/source/index.rst
  pyproject.toml
Due: none

fix: update badge links in README to use .yaml extension
  README.md
Due: none

fix: simplify import statement in redacting.py
  apiconfig/utils/logging/formatters/redacting.py
Due: autoflake, isort, flake8, pytest, pytest-cov

fix(tests): Skip OneFlow and Fiken integration tests if API keys are missing
  tests/integration/test_apiconfig_fiken.py
  tests/integration/test_apiconfig_oneflow.py
Due: autoflake, isort, flake8, pytest, pytest-cov

feat: Refactor authentication and HTTP exception tests to use request/response objects
  apiconfig/exceptions/__init__.py
  apiconfig/exceptions/auth.py
  apiconfig/exceptions/base.py
  apiconfig/exceptions/http.py
  apiconfig/types.py
  docs/source/http_exception_protocols.rst
  project_plans/http_exception_protocol_enhancement/testing_strategy.md
  tests/integration/test_httpx_compatibility.py
  tests/integration/test_requests_compatibility.py
  tests/unit/exceptions/test_auth_exceptions.py
  tests/unit/exceptions/test_http_exceptions.py
  tests/unit/test_exception_protocols.py
Due: autoflake, isort, flake8, pytest, pytest-cov

feat: Implement HTTP Exception Protocol Enhancement with breaking changes to support request/response objects
  apiconfig/exceptions/base.py
  poetry.lock
  project_plans/http_exception_protocol_enhancement/EXECUTION_PROMPT.md
  project_plans/http_exception_protocol_enhancement/README.md
  project_plans/http_exception_protocol_enhancement/core_design.md
  project_plans/http_exception_protocol_enhancement/implementation_details.md
  project_plans/http_exception_protocol_enhancement/implementation_report.md
  pyproject.toml
  pytest.ini
  tests/integration/test_httpx_compatibility.py
Due: autoflake, isort, flake8, pytest, pytest-cov

feat: Add DevContainer setup with Qdrant vector database and VS Code extension persistence
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .gitignore
Due: none

feat: Add support for local GitHub Actions testing with act and update .gitignore
  .actrc
  .devcontainer/Dockerfile
  .gitignore
  .pre-commit-config.yaml
Due: none

feat(dev-tools): enable Docker-in-Docker for act and enhance test type safety
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .gitignore
  apiconfig/exceptions/base.py
  apiconfig/exceptions/http.py
  apiconfig/types.py
  docs/source/http_exception_protocols.rst
  helpers_for_tests/oneflow/oneflow_client.py
  project_plans/http_exception_protocol_enhancement/EXECUTION_PROMPT.md
  project_plans/http_exception_protocol_enhancement/core_design.md
  project_plans/http_exception_protocol_enhancement/implementation_details.md
  project_plans/http_exception_protocol_enhancement/implementation_report.md
  project_plans/http_exception_protocol_enhancement/testing_strategy.md
  tests/integration/test_apiconfig_oneflow.py
  tests/integration/test_httpx_compatibility.py
  tests/integration/test_requests_compatibility.py
  tests/unit/exceptions/test_auth_exceptions.py
  tests/unit/exceptions/test_http_exceptions.py
  tests/unit/test_exception_protocols.py
Due: autoflake, isort, flake8, pytest, pytest-cov

Path conditions:
  autoflake: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
  pytest: any of: ^(apiconfig/|tests/).*\.py$ and \.py$
  pytest-cov: any of: \.py$
